{%extends 'base.html'%}
{% block title %}
        Ekart | Cart
{% endblock %}
{%block body%}
<div class="row">
    <div class="col-md-9 mt-2">
        <h5 class="bg-primary text-white p-2">Customer Details</h5>
        <p><b>Name:</b> {{user.username}}</p>
        <p><b>Phone No.:</b> 123456</p>
        <p><b>Email:</b> {{user.email}}</p>

        <h5 class="bg-primary text-white p-2">Cart Details</h5>
        {% for x in cart_items%}
        <div class="row">
            <div class="col-md-4 mt-2">
                <img src="{{x.product.image.url}}" width="100%" style="height: 200px;">
            </div>
            <div class="col-md-8">
                <p><b>Product Name:</b>&nbsp;&nbsp;{{x.product.product_name}}</p>
                <p><b>Price:</b>&nbsp;&nbsp;{{x.product.price}}</p>
                <p><b>Quantity:</b>&nbsp;&nbsp;{% comment %} {{x.quantity}} {% endcomment %}
                <a href="/updateqty/0/{{x.product.product_id}}"><button class="btn btn-danger">-</button></a>
                <input type="number" value="{{x.quantity}}">
                <a href="/updateqty/1/{{x.product.product_id}}"><button class="btn btn-success">+</button></a>

                </p>
                <p><b>Product Details:</b>&nbsp;&nbsp;{{x.product.desc}}</p>
                <a href="/removeCart/{{x.product_id}}"><button type="submit" class="btn btn-danger">Remove</button></a>
                <a href="#"><button type="submit" class="btn btn-success">Buy</button></a>
            </div>
        </div>
        <hr>
        {% empty %}
        <div class="row">
            <div class="col">
                Your Cart Is Empty
            </div>
        </div>
        {% endfor %}
        
    </div>
    
    <div class="col-md-3 mt-2">
      
        <h5 class="bg-primary text-white p-2">Total</h5>
        <p class="bg-secondary-subtle"><b>Total Product: ({{items}})</b></p>
        <hr>
        <p class="bg-secondary-subtle"><b>Total Amount: {{total}}</b></p>
        <a href="{% url 'viewOrder' %}"><button class="btn btn-danger" style="width: 300px;">Place Order</button></a>
    </div>
    
</div>
{% endblock %}


