{%extends 'base.html'%}
{% block title %}
        Ekart | Login
{% endblock %}
{%block body%}


<div class="row">
    <div class="col-md-12 m-3 p-3">
        <h1>Login</h1>

    </div>
</div>
    <div class="row">
<center>
    
    <div class="col-md-8">
        <form method="post" acton="{% url 'login' %}">
            {% csrf_token %}
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Username</label>
              <input type="text" class="form-control" id="exampleInputEmail1" name="username" placeholder="Enter Username">
        
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Enter password">
            </div>
            <button type="submit" class="btn btn-secondary">Submit</button>
          </form>

    </div>
</center>
                {% if messages %}
                      {% for message in messages %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                              {{ message }}
                             <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                      {% endfor %}
                    {% endif %}
</div>



{% endblock %}
